# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
dist/
build/
*.tsbuildinfo

# SQLite
*.db
*.sqlite
*.sqlite3

# Ambientes
.env
.env.*
!.env.example

# Logs
logs/
*.log

# IDEs/OS
.DS_Store
.vscode/
.idea/

# Swagger output (se estiver gerando arquivos)
swagger.json
swagger.yaml

# Firebase
/src/firebase/serviceAccountKey.json
/src/firebase/exampleJsonRealtimeDatabase.json